<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MMB | <%=title%></title>
</head>
<body>
  <h1>Mini Message Board</h1>
  <%if(messages.length > 0) {%>
    <%messages.forEach(message => {%>
      <h2><%=message.user%></h2>
      <h3><%=message.added%></h3>
      <p><%=message.text%></p>
    <%})%>
  <%}%>
</body>
</html>